
    <div class="product">     
      <h2 class="product__name">{{data?.title}}</h2>
      <div class="product__details">
        <p>{{data?.body}}</p>
      </div>
      <a  (click)="getComments(data?._id)" class="product__link">
        <span class="emoji-left">View All Comments</span>
        <span></span>
      </a>
      <p class="product__description">                       
      </p>
    </div>
    
  