
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  padding: 5rem 5rem 10rem;
  line-height: 1.7;
  font-family: 'Nunito Sans', sans-serif;
  color: #555;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #9be15d, #00e3ae);
}

h1 {
  font-family: 'Megrim', sans-serif;
  font-size: 6rem;
  color: white;
  transform: skewY(-5deg);
  text-align: center;
  position: relative;
  word-spacing: 3px;
}

h1::before {
  content: '';
  display: block;
  height: 65%;
  width: 49%;
  position: absolute;
  top: 105%;
  left: 50%;
  background: linear-gradient(to bottom, #9be15d, #00e3ae);
  opacity: 0.8;
  z-index: -1;
  transform: skewY(370deg) translate(-50%, -50%);
}

.container {
  width: 95rem;
  margin: 0 auto;
}

.product {
  width: 60%;
  margin: 0 auto;
  margin-top: 9%;
  background: white;
  box-shadow: 0 3rem 6rem 1rem rgba(0, 0, 0, 0.2);
  position: relative;
}

.product__hero {
  position: relative;
  height: 22rem;
  overflow: hidden;
}

.product__hero::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to left bottom, #9be15d, #00e3ae);
  opacity: 0.5;
  z-index: 100;
}






.product__back:link,
.product__back:visited {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 1000;
  color: #555;
  background-color: white;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  border-radius: 100rem;
  padding: 0 2rem;
  transition: all 0.3s;
  display: flex;
  align-items: center;
}

.product__back:hover,
.product__back:active {
  background-color: #474c47;
}

.product__name {
  background: linear-gradient(to bottom, #a7a9a5, #0a0a0a);
  padding: 1%;
  font-family: 'Megrim', sans-serif;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  word-spacing: 2px;
}

.product__details {
  background-color: #eee;
  padding: 2px;
//   font-size: 1px;
//   display: grid;
//   grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}
p {
    padding: 5%;
  }


.product__link {
  display: block;
  background-color: #5d5959;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem;
  text-align: center;
  transform: scale(1.07) skewX(-20deg);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  font-family: 'Megrim', sans-serif;
}

.product__link:hover,
.product__link:active {
  background-color: #000000;
  transform: scale(1.1) skewX(-20deg);
}

.product__link span {
  transform: skewX(20deg);
}
