
        <div class="row">
            <h1>Comments</h1>
            <div class="col-sm-5 col-md-6 col-12 pb-4 scrollcomment"  >
                <div class="row">
                    <div *ngFor="let element of data" class="col-md-12 ">
                        <div class="comment mt-4 text-justify float-left"  > 
                            <img src="https://i.imgur.com/CFpa3nK.jpg" alt="" class="rounded-circle" width="40" height="40">
                            <h4>{{element?.name}}</h4> <span>    {{getDate(element?.updatedAt)}}</span> <br>
                            <p>{{element?.comment}}</p>
                        </div>
                       </div>
                </div>      
            </div>
            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                <form [formGroup]="addCommentForm" (ngSubmit)="onSubmit()">
                   
                        <h4>Leave a comment</h4> 
                        <mat-label class="label">{{ 'Message ' }}</mat-label>
                       
                        <mat-form-field class="textarea form-control"  style="background-color: black;">
                            <textarea  formControlName="comment" matInput rows="5" cols="40"  placeholder="Ex. It makes me feel..."></textarea>
                          </mat-form-field>
                    
                   
                    <mat-label class="label">{{ 'Name ' }}</mat-label>
                    <mat-form-field class="form-group form-control" style="background-color: black;" >
                        <input matInput  formControlName="name" placeholder="{{ 'Enter your Name'}}" autocomplete="off">
                    </mat-form-field>
 

                    <mat-label class="label">{{ 'Email ' }}</mat-label>
                    <mat-form-field class="form-group form-control" style="background-color: black;" >
                        <input matInput  formControlName="email" placeholder="{{ 'Enter your Email'}}" autocomplete="off">
                    </mat-form-field>
                    
                        <button type="submit" mat-raised-button  class="save_button">{{ "Save"}}</button> 
                    
                     <!-- <div class="form-group"> <button type="button" id="post" class="btn">Post Comment</button> </div> -->
                </form>
            </div>


            
        </div>
    
