

#profile {
    background-color: unset
}

.save_button {
    margin: 10px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #bfb69f;
    border-color: #a88734 #9c7e31 #846a29;
    color: #000000;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 50%;
    height: 34px;
}

// body {
//     background-color: black
// }

#nav-items li a,
#profile {
    text-decoration: none;
    color: rgb(224, 219, 219);
    background-color: black
}

.comments {
    margin-top: 5%;
    margin-left: 20px
}



.comment {
    border: 1px solid #333;
    background-color: rgb(15 13 19 / 97%);
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px
}

.comment h4,
.comment span,
.darker h4,
.darker span {
    display: inline
}

.comment p,
.comment span,
.darker p,
.darker span {
    color: rgb(184, 183, 183)
}

h1,
h4 {
    padding-left: 4px;
    color: white;
    font-weight: bold
}

.label {
    color: rgb(212, 208, 208)
}

#align-form {
    margin-top: 20px
}

.form-group p a {
    color: white
}

#darker img {
    margin-right: 15px;
    position: static
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: black;
    border: 1px solid #333;
    border-radius: 12px
  }

.form-group input,
.form-group textarea {
    background-color: black;
    border: 1px solid #333;
    border-radius: 12px;
    color: white;
    
}
.textarea {
    background-color: black;
    border: 1px solid #333;
    border-radius: 12px
}

form {
    border: 1px solid #333;
    background-color: #333;
    border-radius: 5px;
    padding: 20px;
   
}
.scrollcomment{
    float:left;
    width:1000px;
    overflow-y: auto;
    max-height: 750px;
}

.buttonHolder{ text-align: center; }