
.demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }
  table.mat-table .mat-header-cell {
    background-color: #383838;
    color: #f1f4f7;
    border-bottom: 1px solid #858e9d;
    border-top: 1px solid #858e9d;
}
table.mat-table .mat-row:nth-child(2n) {
    background-color: #ebebeb;
}
.table-blue .mat-cell.black-text {
    color: #333!important;
}
.main-container {
    position: absolute;
    top: 64px;
    left: 70px;
    right: 0;
    bottom: 0;
    padding: 20px;
}
.caption .caption-container .caption_heading {
    font-weight: 500;
    font-size: 30px;
    color: white
}
typography h1 {
    font-family: Poppins,sans-serif;
}

table.mat-table .names, table.mat-table .vehicle_name {
  margin-left: 20px;
  color: #39c4d1;
}

.mat-column-title {
  flex: 0 0 50%;
}
.mat-column-description {
  flex: 0 0 50%;
}
table.mat-table .mat-cell {
  padding: 10px 15px;
  color: #6b6f76;
  border-bottom-color: #f1f1f1;
}