<div class="caption">
  <div class="caption-container">
      <h1 class="caption_heading">{{ "Posts" }}</h1>
     
  </div>
  <div class="action-menu">
  </div>
</div>
<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="title" >
      <th mat-header-cell *matHeaderCellDef>Name</th>
      
      <td mat-cell *matCellDef="let element">
        <a (click)="viewPost(element?._id)">
       <div class="names">
        {{element?.title}}
       </div></a>
      </td>
     
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="description" >
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{element.body}}</td>
    </ng-container>
  
    <!-- Weight Column -->
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-paginator length="{{ dataLength }}" [pageSize]="10" [pageSizeOptions]="[5, 10]">
</mat-paginator>
