/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { 
     background-image:url("/assets/web_application.jpg") !important;
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;  
    background-attachment: fixed;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

    // @import '~@angular/material/theming';
// Setttings
@import "~bootstrap/dist/css/bootstrap.css";
